<div class="who-we-are" id="who-we-are">
  <div class="row">
    <div class="columns hide-for-small-only">
      <h3 class="sub-title">WHO WE ARE</h3>
    </div>
  </div>
  <div class="row profiles">
    <div class="small-6 medium-4 large-3 columns profile-box">
      <img src="<%= asset_path("baby-cries-1.jpg") %>">
      <h4>Mike</h4>
      <div class="role"><p>FOUNDER AND CEO</p></div>
      <p>Pioneer of baby crying technology</p>
    </div>
    <div class="small-6 medium-4 large-3 columns profile-box">
      <img src="<%= asset_path("cry-baby-3.jpg") %>">
      <h4>Claire</h4>
      <div class="role"><p>EVP CREATIVE DIRECTOR</p></div>
      <p>Top notch baby crying design.</p>
    </div>
    <div class="small-6 medium-4 large-3 columns profile-box end">
      <img src="<%= asset_path("cry-baby-4.jpg") %>">
      <h4>Dig</h4>
      <div class="role"><p>VP ENGINEERING</p></div>
      <p>Get 'er done.</p>
    </div>
    <div class="small-6 medium-4 large-3 columns profile-box end">
      <img src="<%= asset_path("cry-baby-7.jpg") %>">
      <h4>Josh</h4>
      <div class="role"><p>SOUND ENGINEERING</p></div>
      <p>Getting the biggest speakers we can find for baby.</p>
    </div>
    <div class="small-6 medium-4 large-3 columns profile-box">
      <img src="<%= asset_path("cry-baby-5.jpg") %>">
      <h4>Christina</h4>
      <div class="role"><p>BABY ARCHITECT</p></div>
      <p>Upping the creep factor.</p>
    </div>


  </div>
</div>
