.main-home
  = render "modules/home/header"
  = render "modules/home/video"
  = render "modules/home/sponsor_bar"
  = render "modules/home/pledge"
  = render "modules/home/who_we_are"
  = render "modules/home/tech_specs"
